:root {
  --color-input: #F2F2F2;
  --color-input-hover: #e0e0e0;
  --color-additional-text: #888888;
  --color-accent: #EB5757;
  --color-border: #EEEEEE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  max-width: 1488px;

  margin: auto;
}

@media (max-width: 1515px) {
  body {
    max-width: 1112px;
  }
}

@media (max-width: 1110px) {
  body {
    max-width: 736px;
  }
}

@media (max-width: 740px) {
  body {
    align-items: center;
  }  
}
