:root {
  --color-input: #F2F2F2;
  --color-input-hover: #e0e0e0;
  --color-additional-text: #888888;
  --color-accent: #EB5757;
  --color-border: #EEEEEE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px 216px;
}
